div.container {
  background-color: white;
  border-radius: var(--content-border-radius);

  label {
    color: #313131;
  }
}

div.select {
  border-radius: var(--content-border-radius);

  &::before {
    border-radius: var(--content-border-radius);
  }
}
