@import '../../../../../variables.css';

.wrapper {
  position: relative;
  font-size: 1rem;
}

.input {
  border-radius: var(--content-border-radius);
}

.open input {
  border-bottom-color: rgb(101, 107, 110) !important;
}

.open ul {
  padding: 0.5rem 0;
  visibility: visible;
}

.combobox {
  display: flex;
  flex-direction: column;
  position: relative;
  height: 2.75rem;
  font-size: 1.25rem;
  line-height: 0.85rem;
}

.combobox :hover > input {
  border-bottom-color: rgb(101, 107, 110);
}

.combobox > input {
  font: inherit;
  height: 100%;
  padding-left: 0.625rem;
  outline: none;
  color: rgb(45, 51, 53);
  border: 1px solid transparent;
  border-bottom: 1px solid rgb(198, 200, 201);
}

.combobox > label {
  position: absolute;
  top: 0;
  left: 0.625rem;

  transform: translate(0, 1rem) scale(1);
  transform-origin: top left;
  transition-property: transform, opacity, font-size;
  transition-duration: 0.2s;
  transition-timing-function: ease-out;

  pointer-events: none;

  color: rgb(82, 89, 92);
}

.combobox > button {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  background: none;
  cursor: pointer;
  border: 0;
  outline: none;

  position: absolute;
  top: 0;
  right: 0;
  padding: 0.625rem 0.625rem;
}

.selected {
  color: rgb(45, 51, 53);
}

.selected ::after {
  border-left: 2px solid rgb(45, 51, 53);
  border-top: 2px solid rgb(45, 51, 53);
}

.selected > input {
  padding-top: 1rem;
}

.selected > label {
  top: -0.25rem;

  font-size: 0.75rem;
  position: absolute;
  color: rgb(120, 126, 128);
  transform: translate(0, 0.5rem) scale(1);

  transform-origin: top left;
  transition-property: transform, opacity, font-size;
  transition-duration: 0.2s;
  transition-timing-function: ease-out;
  pointer-events: none;
}

.selected > div {
  height: 100%;
}

.selected > div > span {
  padding-top: 1.5rem;
}

.optionList {
  visibility: hidden;

  width: 100%;
  max-height: calc(100vh * 0.4);

  position: absolute;
  left: 0;
  margin: 0;
  padding: 0;

  overflow: auto;
  text-align: left;

  box-sizing: border-box;
  box-shadow: 0 0 0.25rem 0 grey;
  border-top: 0.1429rem solid var(--primary-light-color);
  background-color: rgb(255, 255, 255);

  z-index: 999;
}

.highlighted {
  background-color: rgb(236, 237, 237);
  color: rgb(45, 51, 53);
}

.option {
  line-height: 1.25rem;
  padding: 0.375rem 0.75rem;
  list-style: none;
  cursor: pointer;
}

.optionList :not(:last-child) {
  border-bottom: 1px dotted #e0e0e0;
}

.toggleButton > svg {
  width: 1.5rem;
}

.clearButton > svg {
  width: 1.5rem;
}

.withValidationError .combobox {
  border: 2px solid #c2185b;
  border-radius: var(--content-border-radius);
}

.withValidationError .combobox input {
  border: 0;
}

.withValidationError .combobox label {
  color: #c2185b;
}
