.header {
  display: none;
}

@media only screen and (max-width: 950px) {
  .header {
    position: relative;

    display: flex;
    align-items: center;
    justify-content: center;

    width: 100%;
  }

  .menuButton {
    position: absolute;
    top: 0;
    left: 0;

    display: flex;
    justify-content: center;
    align-items: center;

    height: 2.875rem;
    width: 2.875rem;
    margin: 0;
    padding: 0;

    background: none;
    cursor: pointer;
    border: 0;
  }

  .darkMenuButton > svg > path {
    fill: #323232;
  }

  .logo {
    height: 2.875rem;
    width: 11.575rem;
  }
}
