@import '../../../../variables.css';

.header,
.invisibleHeader {
  display: none;
}

@media only screen and (max-width: 950px) {
  .invisibleHeader {
    display: initial;

    position: absolute !important;
    z-index: 2;

    top: 1rem;
    left: 1rem;
  }

  .invisibleHeader > a {
    display: none;
  }

  .header {
    display: flex;
    align-items: center;
    justify-content: space-between;

    width: 100%;
  }

  .withoutMapLink {
    position: relative;

    justify-content: center;
  }

  .withoutMapLink > .menuButton {
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    left: 0;
  }

  .withoutMapLink > .blueMenuButton > svg > path {
    color: blue;
    fill: var(--primary-color);
  }

  .logo {
    height: 3rem;
    width: 11.575rem;
  }

  .mapLink > svg {
    max-width: 2.25rem;
    height: auto;
  }
}
