@import '../../../../../../variables.css';

.routesOverviewContainer {
  display: flex;
  flex-direction: column;

  height: 100%;
  width: 100%;

  border-radius: inherit;
  background-color: white;
}

.header {
  display: flex;
  flex-direction: column;
  gap: 1rem;

  height: auto;
  width: 100%;
  padding: 1rem;

  background-color: var(--primary-color);
  border-radius: var(--content-border-radius) var(--content-border-radius) 0 0;

  color: white;
  font-size: 1.125rem;
}

.header > span {
  margin-left: 0.25rem;
}

.headerTop {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 100%;
  position: relative;
}

.backButton {
  position: absolute;
  left: 0;

  padding: 0;
  background: none;
  cursor: pointer;
  border: 0;

  height: 1.5rem;
  width: 1.5rem;
}

.backButton > svg > path {
  fill: white;
}

.title {
  max-width: calc(100% - 4rem);
  white-space: nowrap;

  font-size: 1.125rem;
  font-weight: 700;
}

.price {
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center;
  column-gap: 1.5rem;

  font-size: 1rem;
}

.price > svg {
  max-height: 2.5rem;
}

.price p > span {
  font-weight: bold;
}

.routesOverview {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 0.5rem;

  height: 100%;
  overflow-y: auto;
}

.singleRouteOverview {
  padding: 1.25rem 1rem;
  box-shadow: 0 0 0.25rem 0 grey;

  text-align: left;

  background: none;
  cursor: pointer;
  border: 0;
}

.singleRouteOverview:hover {
  background-color: #e0e0e0;
}

.routeTop {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.routeClock {
  margin-top: 1.25rem;

  color: black;
  font-size: 1rem;
}

.adjustTimeButton {
  display: flex;
  align-items: center;
  gap: 0.625rem;

  width: 100%;
  min-height: 2.5rem;
  padding-left: 1rem;

  box-shadow: 0 0 0.25rem 0 grey;

  font-size: 1rem;
  color: black;

  background: none;
  cursor: pointer;
  border: 0;
}

.adjustTimeButton > svg {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 1.5rem;
  width: 1.5rem;
}

.earlierButton {
  margin-top: 0.5rem;
}

.backButton:focus-visible {
  outline: var(--focus-outline-dark-background);
}

.singleRouteOverview:focus-visible,
.adjustTimeButton:focus-visible {
  outline: var(--focus-outline-light-background);
  background-color: #e0e0e0;
}

@media only screen and (max-width: 950px) {
  .singleRouteOverview:hover {
    background-color: white;
  }

  .header {
    border-radius: 0;
    gap: 1.5rem;
  }

  .adjustTimeButton {
    min-height: 3rem;
  }

  .routeClock {
    margin-top: 1.75rem;
  }
}
