@import '../../../variables.css';

.content {
  position: relative;

  display: flex;
  align-items: stretch;
  justify-content: flex-start;

  background-image: url('../../static/img/background_banner.svg');
  background-size: cover;
}

.container {
  z-index: 1;

  display: flex;
  justify-content: center;
  align-items: center;

  width: 22.75rem;
  margin: 2rem 0 2rem 6.25rem;

  border-radius: var(--content-border-radius);

  overflow: hidden;
}

.tripSelectorContainer {
  height: 100%;
}

.tripSelectorMap {
  display: none;
}

.detailsMap {
  position: absolute;

  height: 100%;
  width: 100%;
}

@media only screen and (max-width: 480px) {
  .content {
    background: none;
    height: inherit;
  }

  .container {
    display: block;

    height: 100%;
    width: 100%;
    margin: 0;

    border-radius: 0;
  }

  .containedHeight {
    height: fit-content;
  }

  .tripSelectorContainer {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto 60%;
  }

  .tripSelectorMap {
    display: inline;
  }
}
