@import '../../../variables.css';

.content {
  background-image: url('../../static/img/background_banner.svg');
  background-size: cover;
  height: calc(100vh - var(--header-height) - var(--footer-height));
}
