@import '../../../variables.css';

.container {
  display: flex;
  justify-content: center;
  padding: 3.125rem 1.25rem;
  background-color: var(--primary-color);
  height: 29.5rem;
  width: 22.75rem;
  border-radius: 0.625rem;
  margin-left: 6.25rem;
}
