@import '../../../variables.css';

.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  background-color: var(--primary-color);
  height: 100%;
  width: 22.75rem;
  border-radius: 0.625rem;
  padding: 3.125rem 1.25rem;
  margin-left: 6.25rem;
}

.searchButton {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  padding: 1.625rem;
  margin: 0;
  border: 0;
  outline: none;

  height: 5rem;
  border-radius: 0.625rem;
  background-color: var(--primary-light-color);
}

.searchButton p {
  font-size: 2rem;
  font-weight: bold;
  color: white;
  flex-grow: 1;
}
