@import '../../../../../../variables.css';

.routeDetailsContainer {
  z-index: 1;

  display: flex;
  flex-direction: column;

  height: 100%;
  width: 22.75rem;

  border-radius: inherit;
  background-color: white;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 0 1rem;
  height: var(--route-details-bar-height);

  border-bottom: 1px solid #bdbdbd;
}

.header > ol {
  gap: 0.25rem;

  max-width: 70%;
}

.backButton {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 1.5rem;
  width: 1.5rem;
  padding: 0;

  background: none;
  cursor: pointer;
  border: 0;
}

.backButton > svg {
  height: 1.5rem;
  width: 1.5rem;
}

.contentContainer {
  height: calc(100% - var(--route-details-bar-height));
  padding: 1.5rem;

  overflow-x: auto;
}

.routeDetails {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  margin: 0;
}

.transfer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.transferMessage {
  --size-transfer-icon: 1.75rem;
  --margin-align-transfer-icon: 0.4rem;
  --total-width-route-icons-bar-and-gap: calc(
    var(--route-icons-bar-size) + var(--gap-after-route-icons-bar)
  );

  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: calc(
    var(--total-width-route-icons-bar-and-gap) - var(--size-transfer-icon) -
      var(--margin-align-transfer-icon)
  );

  margin-left: var(--margin-align-transfer-icon);
}

.transferMessage > img {
  width: var(--size-transfer-icon);
  height: var(--size-transfer-icon);
}

.transfer:before,
.transfer:after {
  --size-spacing-point: 0.75rem;

  content: '';
  width: var(--size-spacing-point);
  height: var(--size-spacing-point);

  margin: 0.75rem 0 0.75rem
    calc((var(--route-icons-bar-size) - var(--size-spacing-point)) / 2);

  border-radius: 50%;
  background-color: #bdbdbd;
}

.routeDetails button:focus-visible {
  outline: var(--focus-outline-light-background);
  outline-offset: var(--focus-outline-offset);
}

.backButton:focus-visible {
  outline: var(--focus-outline-light-background);
}

@media only screen and (max-width: 950px) {
  .routeDetailsContainer {
    position: absolute;
    bottom: 0;

    height: auto;
    width: 100%;

    border-radius: var(--content-border-radius) var(--content-border-radius) 0 0;

    overflow: hidden;
  }

  .resizableBox {
    padding-top: 0.5rem;

    min-height: calc(var(--route-details-bar-height) + 0.5rem);
  }

  .backButton {
    z-index: 2;
  }

  .resizeArea {
    display: flex;
    justify-content: center;

    height: calc(var(--route-details-bar-height) + 0.75rem) !important;
  }

  .resizeArea > svg {
    width: 2.5rem;
    height: 2.5rem;
  }
}
