@import '../../../../variables.css';

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2.5rem;
}

.sketchWrapper {
  position: relative;
  overflow: hidden;

  width: 10rem;
  aspect-ratio: 1;

  border-radius: 50%;
  background-color: var(--primary-light-color);
}

.sketch {
  position: absolute;
  top: 1rem;
}

.text {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;

  text-align: center;
  line-height: 1.6;
}

.socialNetworks {
  display: flex;
  gap: 2rem;
}

.socialNetworks > a > svg {
  width: 2.5rem;
  aspect-ratio: 1;
}
