@import '../../../../../variables.css';

.routeDetailsContainer {
  display: flex;
  flex-direction: column;

  height: 100%;
  width: 22.75rem;

  border-radius: inherit;
  background-color: white;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 1.5rem 1rem;

  border-bottom: 1px solid #bdbdbd;
}

.header > ol {
  gap: 0.25rem;

  max-width: 70%;
}

.backButton {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 1.5rem;
  width: 1.5rem;
  padding: 0;

  background: none;
  cursor: pointer;
  border: 0;
  outline: none;
}

.backButton > svg {
  height: 1.5rem;
  width: 1.5rem;
}

.contentContainer {
  padding: 1.5rem;

  overflow-x: auto;
}

.routeDetails {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  margin: 0;
}

.transfer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.transferMessage {
  --size-transfer-icon: 1.75rem;
  --margin-align-transfer-icon: 0.4rem;
  --total-width-route-icons-bar-and-gap: calc(
    var(--route-icons-bar-size) + var(--gap-after-route-icons-bar)
  );

  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: calc(
    var(--total-width-route-icons-bar-and-gap) - var(--size-transfer-icon) -
      var(--margin-align-transfer-icon)
  );

  margin-left: var(--margin-align-transfer-icon);
}

.transferMessage > img {
  width: var(--size-transfer-icon);
  height: var(--size-transfer-icon);
}

.transfer:before,
.transfer:after {
  --size-spacing-point: 0.75rem;

  content: '';
  width: var(--size-spacing-point);
  height: var(--size-spacing-point);

  margin: 0.75rem 0 0.75rem
    calc((var(--route-icons-bar-size) - var(--size-spacing-point)) / 2);

  border-radius: 50%;
  background-color: #bdbdbd;
}

@media only screen and (max-width: 480px) {
  .routeDetailsContainer {
    width: 100%;
  }
}
