@import '../variables.css';

.App {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 11% 1fr;

  height: 100%;

  overflow-y: auto;
}

.landscapeMessage {
  display: none;
}

@media only screen and (max-width: 950px) {
  .App {
    grid-template-rows: auto;
  }
}

@media only screen and (max-height: 480px) {
  .App {
    display: none;
  }

  .landscapeMessage {
    display: block;
    height: 100%;
  }
}
