@import '../../../../variables.css';

.textArea {
  width: 100%;
  height: 100%;
  padding: 0.625rem;

  font-size: 1rem;
  color: black;

  outline: none;

  border: 1px solid transparent;
  border-bottom: 1px solid #bdbdbd;
  border-radius: var(--content-border-radius);

  background-color: #f2f2f2;

  resize: none;
}

.textArea:focus-visible {
  border-bottom-color: #4f4f4f;
}
