@import '../../../../../variables.css';

.stationsSelector {
  display: flex;
  flex-direction: column;
  height: fit-content;
  gap: 0.625rem;
  position: relative;
}

.stationsSwitcher {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  padding: 0.2rem;
  border: 0;
  outline: none;

  z-index: 1;
  position: absolute;
  top: 50%;
  right: 0;
  border-radius: 360px;
  width: 1.75rem;
  height: 1.75rem;
  margin: -0.875rem -0.875rem 0 0;
  background-color: var(--primary-light-color);
}
