.wrapper {
  position: relative;
}

.toggleButton {
  display: flex;
  align-items: center;
  justify-content: space-between;

  gap: 0.5rem;

  height: 2.75rem;
  width: 100%;
  padding-inline: 0.75rem;

  color: black;

  border: 1px solid transparent;
  border-bottom: 1px solid #bdbdbd;
  border-radius: var(--content-border-radius);

  background-color: #f2f2f2;
}

.toggleButton > span {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.toggleButton > svg {
  min-width: 1.5rem;
  max-width: 1.5rem;
  min-height: 1.5rem;
  max-height: 1.5rem;
}

.optionsList {
  position: absolute;
  left: 0;
  right: 0;

  z-index: 999;

  overflow: auto;

  max-height: calc(100vh * 0.4);
  margin: 0;

  box-shadow: 0 0 0.25rem 0 grey;
  background-color: white;
}

.optionsList > li:not(:last-child) {
  border-bottom: 1px dotted #e0e0e0;
}

.option {
  padding: 0.5rem 0.75rem;

  line-height: 1.25rem;

  cursor: pointer;
}

.selectedOption {
  font-weight: 700;
}

.highlightedOption {
  background-color: var(--combobox-highlighted-background-color);
}

.toggleButton:focus-visible,
.optionsList:focus-visible {
  outline: var(--focus-outline-light-background);
}
