@import '../../../../variables.css';

.content {
  position: relative;

  display: flex;
  align-items: stretch;
  justify-content: flex-start;

  background-size: cover;

  overflow: hidden;
}

.backgroundDay {
  background-image: url('../../../static/svg/background_banner_day.svg');
}

.backgroundNight {
  background-image: url('../../../static/svg/background_banner_night.svg');
}

.content > h1 {
  /* Added just for screen reader, otherwise hidden visually */
  width: 0;
  height: 0;
  opacity: 0;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 22.75rem;
  margin: 2rem 0 2rem 6.25rem;

  border-radius: var(--content-border-radius);
  box-shadow: 0 0 0.5rem 0 grey;
}

.tripSelectorContainer {
  height: 100%;

  border-radius: inherit;
}

.tripSelectorMap {
  display: none;
}

.detailsMap {
  position: absolute;

  inset: 0;
}

.detailsMap div[role='alert'] {
  position: absolute;
  left: 50%;
}

@media only screen and (max-width: 950px) {
  .content {
    background: none;
  }

  .container {
    display: block;

    width: 100%;
    margin: 0;

    border-radius: 0;
  }

  .tripSelectorContainer {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 4fr 6fr;
  }

  .tripSelectorMap {
    display: inline;
  }

  .detailsMap {
    position: fixed;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1200px) {
  footer {
    display: none !important;
  }
}

@media only screen and (max-width: 950px) and (min-height: 300px) and (orientation: landscape) {
  @media only screen and (min-aspect-ratio: 1/1),
    (min-device-aspect-ratio: 1/1) {
    .tripSelectorContainer {
      display: grid;
      grid-template-rows: 100%;
      grid-template-columns: 1fr 1fr;
    }
  }
}
