@import '../../../../variables.css';

.wrapper {
  position: relative;
}

.open input {
  border-bottom-color: #4f4f4f !important;
}

.open ul {
  padding: 0.5rem 0;
  visibility: visible;
}

.combobox {
  display: flex;
  flex-direction: column;

  position: relative;

  height: 2.75rem;

  font-size: 1.25rem;
}

.combobox :hover > input {
  border-bottom-color: #4f4f4f;
}

.combobox > input {
  height: 100%;
  padding-left: 0.625rem;
  padding-top: 1.1rem;

  outline: none;

  font: inherit;
  color: black;

  border: 1px solid transparent;
  border-bottom: 1px solid #bdbdbd;
  border-radius: var(--content-border-radius);
}

.combobox > label {
  position: absolute;
  bottom: 50%;
  left: 0.625rem;

  color: #4f4f4f;

  pointer-events: none;

  transform: translate(0, 50%) scale(1);
  transition-property: transform, opacity, font-size;
  transition-duration: 0.2s;
  transition-timing-function: ease-out;
}

.combobox > button {
  position: absolute;
  inset: auto 0.625rem 50% auto;

  transform: translate(0, 50%);

  display: grid;
  place-items: center;

  padding: 0;
  margin: 0;

  cursor: pointer;
  background: none;
  border: 0;
}

.selected {
  color: rgb(45, 51, 53);
}

.selected ::after {
  border-left: 2px solid rgb(45, 51, 53);
  border-top: 2px solid rgb(45, 51, 53);
}

.selected > label,
.combobox > input:focus-visible + label {
  top: 0;

  font-size: 0.875rem;

  transform: translate(0, 2px);
}

.combobox > input:focus-visible {
  border-bottom-color: #4f4f4f;
}

.selected > div {
  height: 100%;
}

.selected > div > span {
  padding-top: 1.5rem;
}

.optionList {
  visibility: hidden;

  width: 100%;
  max-height: calc(100vh * 0.4);

  position: absolute;
  left: 0;
  margin: 0;
  padding: 0;

  overflow: auto;
  text-align: left;

  box-sizing: border-box;
  box-shadow: 0 0 0.25rem 0 grey;
  border-top: 0.1429rem solid var(--primary-light-color);
  background-color: rgb(255, 255, 255);

  z-index: 999;
}

.highlighted {
  background-color: var(--combobox-highlighted-background-color);
}

.option {
  --option-content-height: 1.25rem;
  /* --line-color is set here just to define the default. It will be overwritten dynamically in the combobox component */
  --line-color: white;

  display: flex;
  gap: 1rem;
  justify-content: space-between;
  align-items: center;

  line-height: var(--option-content-height);
  padding: 0.375rem 1.5rem 0.375rem 0.75rem;
  list-style: none;
  cursor: pointer;

  .lines {
    display: flex;
    gap: 0.25rem;

    padding: 0;

    li {
      width: var(--option-content-height);
      height: var(--option-content-height);

      border-radius: 50%;
      border: 1px solid black;

      background-color: var(--line-color);
    }
  }
}

.optionList > li:not(:last-child) {
  border-bottom: 1px dotted #e0e0e0;
}

.toggleButton > svg {
  width: 1.5rem;
}

.clearButton > svg {
  width: 1.5rem;
}

.withValidationError .combobox {
  border: 2px solid #c2185b;
  border-radius: var(--content-border-radius);
}

.withValidationError .combobox input {
  border: 0;
}

.withValidationError .combobox label {
  color: #c2185b;
}

.clearButton:focus-visible {
  outline: var(--focus-outline-light-background) !important;
  outline-offset: 0 !important;
}
