:root {
  --primary-color: #1976d2;
  --primary-light-color: #63a4ff;

  --combobox-highlighted-background-color: rgba(99, 164, 255, 0.2);

  --focus-outline-light-background: 2px solid var(--primary-color);
  --focus-outline-dark-background: 2px solid white;
  --focus-outline-offset: 3px;

  --content-border-radius: 0.625rem;

  --route-icons-bar-size: 2rem;
  --gap-after-route-icons-bar: 1rem;

  --route-details-bar-height: 5rem;

  --teleferico-blue: #4361ee;
  --teleferico-brown: #80475e;
  --teleferico-green: #24d052;
  --teleferico-light_blue: #4cc9f0;
  --teleferico-orange: #ff8811;
  --teleferico-purple: #7209b7;
  --teleferico-red: #f72585;
  --teleferico-silver: #b6bbc1;
  --teleferico-white: #fffceb;
  --teleferico-yellow: #fdc500;
}
