@import '../../../variables.css';

.header {
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: 1fr auto;
  align-items: center;
  padding: 0 4.625rem;
  height: calc(100vh * 0.115);
}

.headerItems {
  display: flex;
  gap: 5.75rem;
  align-items: center;
  list-style: none;
}

.backButton {
  display: none;
}

.message {
  display: none;
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
  background: none;
  cursor: pointer;
  border: 0;
  outline: none;
  height: 2.875rem;
  width: 11.575rem;
}

.languageSelector > span {
  display: none;
}

.languageSelector > button {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
  background: none;
  height: 2rem;
  width: 3rem;
  cursor: pointer;
  border: 0;
  outline: none;
}

.headerItem {
  font-weight: 500;
  font-size: 1.25rem;
  line-height: 1.5rem;
}

.headerItemIcon {
  display: none;
}

@media only screen and (max-width: 480px) {
  .hiddenMenu {
    transform: translateX(calc(-100% - 0.5rem));
  }

  .header {
    display: flex;
    flex-direction: column;
    position: absolute;
    z-index: 4;
    top: 0;
    left: 0;
    background-color: white;
    height: fit-content;
    width: calc(100vw * 0.8);
    border-radius: 0 0.625rem 0.625rem 0.625rem;
    box-shadow: 0 0 0.5rem 0 grey;
    padding: 0;

    transition: transform 0.75s ease;
  }

  .backButton {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    background: none;
    cursor: pointer;
    border: 0;
    outline: none;
    height: 1.5rem;
    width: 1.5rem;

    align-self: flex-start;
    margin: 1.5rem 0 0 1.5rem;
  }

  .message {
    display: flex;
    align-items: center;
    gap: 1rem;
    padding-top: 1.875rem;
  }

  .message > span {
    white-space: pre-line;
    text-align: left;
    font-weight: 700;
    font-size: 1.25rem;
  }

  .message > svg {
    height: 3rem;
    width: 3rem;
  }

  .logo {
    display: none;
  }

  .headerItems {
    align-self: flex-start;
    margin: 3.125rem 0 3.125rem 2.5rem;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 0;
  }

  .headerItem {
    display: flex;
    flex-wrap: wrap;
    align-items: center;

    font-weight: 500;
    font-size: 1.25rem;
    text-align: left;
  }

  .headerItem::after {
    content: '';
    flex-basis: 3.5rem;
    height: 1px;
    background-color: grey;
    margin: 1rem 0;
  }

  .headerItemIcon {
    display: inline-block;
    height: 1.75rem;
    width: 1.75rem;
    margin-right: 0.5rem;
  }

  .headerItemIcon > svg > path {
    fill: var(--primary-color);
  }

  .languageSelector {
    display: flex;
    align-items: center;
  }

  .languageSelector > span {
    display: inline-block;
    font-weight: 400;
    font-size: 1.25rem;
    margin-right: 1.5rem;
  }

  .languageSelector > button {
    height: 1.75rem;
    width: 2.625rem;
  }
}
