@import '../../../../variables.css';

.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  background-color: var(--primary-color);
  height: 100%;
  width: 22.75rem;
  border-radius: 0.625rem;
  padding: 3.125rem 1.25rem;
  margin-left: 6.25rem;
}

.header {
  display: none;
}

.inputFields {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 1.875rem;
}

.dateAndTimePicker {
  display: flex;
  justify-content: center;
  align-items: center;

  background: #f2f2f2;
  border-radius: 0.625rem;
  height: 2.75rem;
}

.searchButton {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  padding: 1.625rem;
  margin: 0;
  border: 0;
  outline: none;

  height: 5rem;
  border-radius: 0.625rem;
  background-color: var(--primary-light-color);
}

.searchButton p {
  font-size: 2rem;
  font-weight: bold;
  color: white;
  flex-grow: 1;
}

@media only screen and (max-width: 480px) {
  .container {
    width: 100%;
    margin: 0;
    border-radius: 0;
    padding: 1rem 1.25rem;
    min-height: 17.5rem;
    height: 40%;
  }

  .header {
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .inputFields {
    height: 100%;
    justify-content: center;
  }

  .menuButton {
    position: absolute;
    top: 0;
    left: 0;

    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    background: none;
    cursor: pointer;
    border: 0;
    outline: none;
    height: 2.875rem;
    width: 2.875rem;
  }

  .logo {
    height: 2.875rem;
    width: 11.575rem;
  }

  .searchButton {
    border-radius: 360px;
    width: 5rem;
    align-self: center;
    position: absolute;
    bottom: 2.5rem;
  }

  .searchButton p {
    display: none;
  }
}
